= form_for(@score) do |f|
  - if @score.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@score.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @score.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :added
    %br
    = f.datetime_select :added
  .field
    = f.label :private
    %br
    = f.check_box :private
  .field
    = f.label :author
    %br
    = f.text_field :author

  .actions
    = f.submit
