%h1= t('.title')
%p= link_to t('.new_score'), new_score_path

%table
  %thead
    %tr
      %th= Score.human_attribute_name :title
      %th= Score.human_attribute_name :type
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for score in @scores
      %tr{ :class => cycle(:odd, :even) }
        %td= score.title
        %td= score.type
        %td.action= link_to t('show'), score
        %td.action= link_to t('edit'), edit_score_path(score)
        %td.action= link_to t('destroy'), score, :confirm => t('are_you_sure'), :method => :delete
