%h1= t '.title'
%p
  = link_to t('back'), scores_path
  = link_to t('edit'), edit_score_path(@score)
%audio{:src => @score.sample}
#tabdiv= @content
%ul#revisions
  -for @commits.each do |revision|
    %li.revision
      = revision.author_string
      = revision.date
      /TODO: show revision's net changes...
%dl
  %dt= Score.human_attribute_name :title
  %dd= @score.title
  %dt= Score.human_attribute_name :added
  %dd= @score.added
  %dt= Score.human_attribute_name :author
  %dd= @score.author
